.profileConttainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.inforOfUserProfile{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

.inforContainerProfile{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.userPhotoProfile{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}
.inforUserProfileContainer{
    display: flex;
    flex-direction: column;
    gap: 7px;
}
.inforUserProfileContainer a{
    color: var(--green-color800);
}
.dark .inforUserProfileContainer a {
    color: var(--green-color800);
}
.descProfile{
    max-width: 400px;
}


.guildInfoProfile{
    display: flex;
    align-items: center;
    gap: 10px;
}
.guildInfoProfile img {
    width: 20px;
    height: 20px;
    border-radius: 1px 1px 20px 20px;
    object-fit: cover;

}
.scorePointsUser{
    color: var(--green-color800);
    font-weight: bold;
    font-size: 1.2em;
}

.followAnUnfollowNumbers{
    display: flex;
    align-items: center;
    gap: 20px;
    margin: 10px 0;
}

.line {
    width: 100%;
    height: 3px;
    background-color: var(--green-color800);
    margin: 20px 0;
}

.postsOfUserContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 20px 0;
}
.postsOfuser{
    width: 640px;
    display: flex;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}
.PostOfUser{
    width: 200px;
    height: 200px;
    object-fit: cover;
    cursor: pointer;
}

.dontHavePostsContainer{
    width: 100%;
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.dontHavePostsContainer a,
.dark .dontHavePostsContainer a {
    color: var(--green-color800);
    text-decoration: underline;
}

@media screen and (max-width: 768px){
    .postsOfUser {
        justify-content: center;
    }
    .inforContainerProfile{
        flex-direction: column;
    }
    .inforUserProfileContainer{
        width: 100%;
        text-align: center;
        justify-content: center;
    }
    .descProfile{
        max-width: 97%;
    }
    .guildInfoProfile{
        justify-content: center;
    }
    .postsOfuser{
        width: 95%;
        justify-content: center;
    }
    .PostOfUser {
        width: 150px;
        height: 150px;
    }
}